@import 'Container.scss';
@import 'colors.scss';
@import 'Input.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body,
.App-Content {
  background-color: #FFF;
}

.about {
  &-cover {
    display: table;
    width: 100%;
    height: 300px;
    background-image: url("../assets/banner_aboutus.jpg");
    background-color: #1F4072;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    &-content {
      display: table-cell;
      vertical-align: middle;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      &-img {
        width: 100%;
        margin-bottom: 10px;

        img {
          width: 150px;
        }
      }

      &-text {
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        color: #FFF;
      }
    }
  }

  &-desc {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;

    &-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 22px;
        }
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    &-table {
      display: table;
      @media (max-width: 767px) {
        display: block;
      }

      &-left {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        @media (max-width: 767px) {
          display: block;
          width: 100%;
        }

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-weight: 600;
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }

        &-split {
          display: inline-block;
          vertical-align: top;
          width: 45%;
          padding-right: 5%;
          @media (max-width: 767px) {
            display: block;
            width: 100%;
          }
        }
      }

      &-right {
        display: table-cell;
        vertical-align: bottom;
        @media (max-width: 767px) {
          display: block;
          width: 100%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  &-elibrary {
    width: 100%;
    background-color: #4BBFD1;
    padding-top: 30px;
    padding-bottom: 170px;

    &-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: #FFF;
        margin-bottom: 40px;
      }

      &-table {
        display: table;
        @media (max-width: 767px) {
          display: block;
        }

        &-left {
          display: table-cell;
          vertical-align: top;
          width: 50%;
          overflow: hidden;
          @media (max-width: 767px) {
            display: block;
            width: 100%;
            margin-bottom: 20px;
          }

          img {
            width: 100%;
            margin: -16% 0;
          }
        }

        &-right {
          display: table-cell;
          vertical-align: top;
          padding-left: 30px;
          @media (max-width: 767px) {
            display: block;
            width: 100%;
            padding-left: 0;
          }

          p {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
          }

          h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
            color: #1F3F72;
            margin-top: 80px;
            @media (max-width: 767px) {
              font-size: 16px;
              margin-top: 40px;
            }
          }
        }
      }
    }
  }

  &-elibrary-list {
    width: 100%;
    margin-top: -100px;
    padding-bottom: 80px;
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
    &-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      &-box {
        display: inline-block;
        width: 23.8%;
        min-height: 270px;
        padding: 2%;
        vertical-align: top;
        background-color: #FFF;
        border: 3px solid #4BBFD1;
        margin-left: 2%;
        margin-right: 2%;
        @media (max-width: 767px) {
          display: block;
          width: 90%;
          padding: 5%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 30px;
          min-height: auto;
        }

        &-title {
          font-family: 'Montserrat', sans-serif;
          font-size: 29px;
          font-weight: 700;
          color: #1F3F72;
          min-height: 70px;
          margin-top: 0;
          @media (max-width: 767px) {
            font-size: 22px;
            min-height: auto;
          }
        }

        p {
          margin: 0;
          padding: 0;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }

  &-shop {
    width: 100%;
    padding-bottom: 50px;
    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
    &-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      &-table {
        display: table;
        background-color: #FEC340;
        @media (max-width: 767px) {
          display: block;
        }

        &-left {
          display: table-cell;
          vertical-align: top;
          width: 36%;
          padding: 2%;
          @media (max-width: 767px) {
            width: 92%;
            padding: 4%;
            display: block;
          }
          &-title {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #FFF;
            margin-top: 0;
            margin-bottom: 20px;
            @media (max-width: 767px) {
              font-size: 22px;
              min-height: auto;
            }
          }

          p {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
          }
        }

        &-right {
          display: table-cell;
          vertical-align: top;
          padding-left: 30px;
          @media (max-width: 767px) {
            width: 100%;
            padding-left: 0;
          }
          img {
            width: 100%;
            margin-bottom: -4px;
          }
        }
      }

      &-signup {
        width: 100%;
        margin-top: 70px;
        margin-bottom: 20px;
        text-align: center;

        a {
          padding: 15px 30px;
          background-color: #1F3F72;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #FFF;
        }
      }
    }
  }

  &-footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DADBDC;
    &-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      &-media {
        width: 100%;
        img {
          width: 16.6%;
        }
      }
    }
    &-address {
      width: 30%;
      padding-top: 20px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      border-top: 2px solid #636466;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: #636466;
      line-height: 1.5;
      @media (max-width: 767px) {
        width: 80%;
      }
    }
  }
}
