@import 'colors.scss';

body,
.App-Content {
  background-color: #FFF;
}
.swal-title, .swal-text {
  font-family: 'Montserrat';
}
.swal-button--confirm{
  background-color: #1f3f72;
}

.App-Container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

  .App-Content {
    flex: 1;
    margin-top: 80px;
    @media only screen and (min-width: 820px) {
      margin-top: 85px;
    }
  }

  .App-Footer {
    min-height: 100px;
    margin: 0;
    background-color: $blue;
    z-index: 1;

    .List {
      font-family: 'Montserrat';
      font-size: 12px;
      list-style-type: none;
      margin: 20px;
      padding: 0;
      text-align: center;
      width: calc(100% - 80px);

      @media only screen and (max-width: 425px) {
        margin: 8px;
        margin-bottom: 30px;
      }

      .List-Item {
        display: inline;
        margin: 16px;
        @media only screen and (max-width: 425px) {
          display: block;
        }
      }
    }
    .linkBawah{
      padding: 10px;
      font-size: 12px;
      font-family: 'Montserrat';
    }
    .Link {
      cursor: pointer;
      font-family: 'Montserrat';
      color: white;
    }

    .Small-Image {
      height: 20px;
      width: 20px;
      margin: 16px;
    }
  }
}

.Reader-Modal {
  background: white;
  position: relative;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .close {
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 56px;
    cursor: pointer;
  }
}

.Special-Content-Container {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;

  .Special-Content {
    color: $blue;
    padding: 10%;
    background: white;
    border: 1px #f5f5f5 solid;
    border-radius: 5px;
    text-align: center;

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}

.Special-Content-Container-finish {
  background: #1f3f72;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  h2{
    font-family: 'Chewy', cursive;
  }
  .Special-Content-finish {
    color: #FFF;
    margin-top: -200px;
    // padding: 10%;
    // background: 1f3f72;
    // border: 1px #f5f5f5 solid;
    // border-radius: 5px;
    text-align: center;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}
