@import 'colors.scss';

.Book-Card {
  min-width: 200px;
  width: 200px;
  height: auto; //350px
  border-radius: 3px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  position: relative;
  z-index: 0;

  @media only screen and (max-width: 425px) {
    min-width: 150px;
    width: 150px;
    height: 300px;
    margin: 5px 8px;
  }

  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .detail {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;

    p {
      margin: 0;
      white-space: pre-wrap;
      &.book-title {
        color: black;
        font-size: 13px;
        height: 30px;
        max-height: 28px;
        line-height: 14px;
        overflow: hidden;
      }

      &.price {
        color: $lightBlue;
        font-size: 18px;
        font-weight: 500;
      }
      &.price_1 {
        color: red;
        font-size: 10px;
        text-decoration: line-through;
      }
    }
  }

  &:hover {
    /* transform: scale(1.1); */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22); */
    z-index: 99;
  }

  img {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
  }

  span.new {
    position: absolute;
    top: 16px;
    right: 0;
    background-color: $red;
    color: white;
    padding: 4px;
    font-size: 11px;
  }

  .button-container {
    display: flex;
    padding: 0 16px 8px 16px;
    flex-direction: column;

    @media only screen and (max-width: 425px) {
      padding: 0;
    }
  }

  button {
    text-decoration: none;
    border: 1px solid $yellow;
    outline: $yellow solid 1px;
    background-color: white;
    padding: 4px;
    color: $yellow;
    font-family: 'Chewy', cursive;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0 4px 4px 4px;
  }
  button:hover  {
    text-decoration: none;
    outline: none;
    border: none;
    background-color: $yellow;
    padding: 4px;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0 4px 4px 4px;
  }
}
