@import 'Container.scss';
@import 'colors.scss';
@import 'Loading.scss';
@import 'Section.scss';

.Header {
  color: $blue;
  border-bottom: 1px solid $red;
  margin: 24px 128px;
  padding: 8px;
  @media only screen and (max-width: 1075px) {
    margin: 24px;
  }

  .nav {
    color: $yellow;
  }
}

.Detail-Content {
  display: flex;
  margin: 24px 128px;
  @media only screen and (max-width: 1075px) {
    flex-direction: column;
    margin: 24px;
  }

  .left-content {
    flex: 1;
    margin-right: 24px;

    img {
      height: 320px;
      object-fit: contain;
    }
  }

  @media only screen and (max-width: 425px) {
    .left-content {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (max-width: 1075px) {
    .left-content {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .center {
    flex: 2;
    margin-right: 24px;
    color: $blue;

    h2 {
      margin: 0 0 8px 0;
      font-family: 'Montserrat';
    }

    h3 {
      margin: 0 0 24px 0;
    }

    p {
      margin: 0;
      font-size: 13px;
    }

    .section {
      margin-bottom: 24px;
    }
  }

  .right {
    flex: 1;
    color: $blue;

    .content {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 2px solid #f2f2f2;
      border-radius: 5px;
      padding: 16px;

      h1 {
        color: $yellow;
      }
    }
  }
}
