.Button {
  display: inline-block;
  padding: 16px 16px;
  /* margin: 8px; */
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Chewy', cursive;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;

  border: none;

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}
