.Carousel {
  // background-color: red;
  height: 300px;
  display: flex;
  margin-top: 110px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }

  .image-slide {
    .image-slide-content {
      min-width: 954px;
      min-height: 380px;
      /* width: 700px; */
      /* width: 1000px; */
      background-image: url('/static/banner.png');
      // background-size: cover;
      background-size: contain;
      // background-size: 100% 100%;
      background-repeat: no-repeat;
			background-position: center center;
      // margin-top: 60px;
      border-radius: 20%;
    }
  }

  @media only screen and (max-width: 820px) {
    height: 200px;
    margin: 20px 0;
    .image-slide {
      .image-slide-content {
        min-width: 300px;
        width: 100%;
        min-height: 200px;
        margin-top: 0px;
        background-size: contain;
        border-radius: 10px;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    margin: 14px 0;
    height: 100px;
    margin-top: 70px;
    .image-slide {
      .image-slide-content {
        min-width: 300px;
        width: 100%;
        min-height: 100px;
        margin-top: 0px;
        background-size: contain;
        border-radius: 10px;
      }
    }
  }
}
