@import 'colors.scss';
@import 'Container.scss';
@import 'Input.scss';
@import 'Loading.scss';
@import 'CartListItem.scss';

body,
.App-Content {
  background-color: #FFF;
}

.Header {
  color: $blue;
  border-bottom: 1px solid $red;
  padding: 8px;
}

.Cart-Page-Content {
  background-image: url('../assets/transaction_background.png');
  background-size: cover;

  .content-container {
    margin-top: 56px;
    margin: 32px 112px;
    .horizontal {
      display: flex;
    }

    @media only screen and (max-width: 875px) {
      margin: 40px 16px;

      .horizontal {
        flex-direction: column;
      }
    }

    .section {
      display: flex;
      flex-direction: column;

      &.right {
        flex: 1;
      }

      &.left {
        flex: 2.5;
        margin-right: 16px;
        @media only screen and (max-width: 875px) {
          margin-right: 0px;
          padding: 0;
        }
      }
    }

    .card {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
      border-radius: 8px;
      padding: 16px;
      margin: 16px 0;

      .horizontal-section {
        display: flex;

        > .content {
          display: flex;
          flex: 1;
          flex-direction: column;
        }

        div:nth-child(1) {
          margin-right: 8px;
        }
        div:nth-child(2) {
          margin-left: 8px;
        }
      }

      > h1 {
        color: $blue;
        margin: 16px 0;
      }

      > h4 {
        color: $pink;
        margin: 8px 0;
      }
    }
  }
}

.Unit {
  .input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .input-group-button {
    line-height: calc(80px / 2 - 5px);
  }

  .input-number {
    width: 30px;
    padding: 0 12px;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
    border: none;
    border-bottom: 1px solid #cacaca;
  }

  .input-number,
  .input-number-decrement,
  .input-number-increment {
    /* border: 1px solid #cacaca; */
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border-radius: 0; */
  }

  span {
    display: inline-block;
    width: 40px;
    /* background: #e6e6e6; */
    /* border: 1px solid ; */
    border-color: $blue;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    color: $blue;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;

    &.input-number-decrement {
      margin-right: 0.3rem;
    }
    &.input-number-increment {
      margin-left: 0.3rem;
    }
  }

  @media only screen and (max-width: 425px) {
    .input-number {
      width: 50px;
    }
  }
}
