@import 'Checkout.scss';

.Subscription-Item {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px;
  width: calc(100% - 16px);
  margin-bottom: 8px;
  margin-right: 8px;
  position: relative;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.12), 0 0.5px 1px rgba(0, 0, 0, 0.24);

  p {
    margin: 8px;
    &.title {
      color: $blue;
      font-size: 16px;
      font-weight: 500;
    }

    &.type {
      color: $red;
      font-size: 14px;
      margin-top: 2px;
    }

    &.price {
      color: $yellow;
      font-size: 18px;
      font-weight: 500;
      margin-top: auto;
    }
  }
}
