@import 'colors.scss';
@import 'CartListItem.scss';
@import 'Container.scss';
@import 'Input.scss';

.App-Content,
body {
  background-color: #FFF;
}

.Checkout-Content {
  background-image: url("../assets/transaction_background.png");
  background-size: cover;

  .content-container {
    margin: 32px 112px;
    padding-bottom: 50px;

    .horizontal {
      display: flex;
    }
    @media only screen and (max-width: 875px) {
      margin: 40px 16px;

      .horizontal {
        flex-direction: column;
      }
    }

    .section {
      display: flex;
      flex-direction: column;

      &.right {
        flex: 1;
      }

      &.left {
        flex: 2.5;
        margin-right: 16px;
        @media only screen and (max-width: 875px) {
          margin-right: 0;
          padding: 0;
        }
      }
    }

    .card {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 24px;

      .horizontal-section {
        display: flex;

        > .content {
          display: flex;
          flex: 1;
          flex-direction: column;

          .horizontal {
            flex-direction: row;
            justify-content: space-between;
          }
        }
        @media only screen and (max-width: 875px) {
          flex-direction: column;
        }
      }

      > h1 {
        color: $blue;
        margin: 16px 0;
      }

      > h4 {
        color: $pink;
        margin: 8px 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile-only {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-tablet-only {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .hide-on-mobile-and-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) {
  .hide-on-tablet-and-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 993px) {
  .hide-on-desktop-only {
    display: none !important;
  }
}
