$blue: #1f3f72;
$red: #e72846;
$yellow: #fab20b;
// lightBlue: #18C2F4;
$lightBlue: #38c1de;
$darkBlue: #32abd0;
$darkYellow: #d78e00;
$softPink: #f4f4e6;
$pink: #e73956;
$shopBackgroundLight: #ffef93;
$shopBackgroundDark: #fec340;

:export {
  blue: $blue;
  red: $red;
  yellow: $yellow;
  // lightBlue: $lightBlue;
  lightBlue: $lightBlue;
  darkBlue: $darkBlue;
  darkYellow: $darkYellow;
  softPink: $softPink;
  pink: $pink;
  shopBackgroundLight: $shopBackgroundLight;
  shopBackgroundDark: $shopBackgroundDark;
}
