.custom-modal {
  width: 60%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.modal-container {
  display: flex;
  min-height: 300px;
  text-align: start;
  flex-direction: column;
}

.close-btn-container {
  text-align: end;
}

.close-btn {
  right: 8px;
  top: 8px;
  font-size: 32px;
  cursor: pointer;
}

.modal-container .top {
  flex: 1;
  position: relative;
  padding: 8px;
  margin-right: 8px;
  display: flex;
}

.top .img-container {
  padding: 8px;
  padding-left: 0;
  flex: 1;
}

.top img {
  width: 90%;
  object-fit: cover;
}

.top .detail-container {
  flex: 2;
}

.bottom .extra {
  flex: 1;
  color: #4bbfd1;
  font-size: 12px;
  line-height: 1.5;
}

.modal-container .bottom {
  flex: 2;
  display: flex;
}

.bottom .alert-book-title-container {
  overflow: hidden;
  max-height: 72px;
}

.alert-book-title-container .alert-book-title {
  font-size: 32px;
  margin: 0;
}

.book-description {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.book-extra {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.extra-left {
  color: #4bbfd1;
  font-size: 12px;
  line-height: 1.5;
  flex: 1.5;
}

.extra-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

.extra-right .button {
  font-family: 'Chewy', cursive;
  background: #e72846;
  padding: 16px 56px;
  border-radius: 8px;
  color: #fab20b;
  font-size: 24px;
  cursor: pointer;
}

.extra-right .button-wishlist {
  background: #4bbfd1;
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  
  &:hover {
    background: rgb(31, 63, 114);
  }
  &:active {
    background: rgb(31, 63, 114);
  }
  &-active {
    background: rgb(31, 63, 114);
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
  }
  &-active:hover {
    background: #4bbfd1;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
  }
  &-active:active {
    background: #4bbfd1;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 825px) {
  .custom-modal {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .extra-right .button {
    font-family: 'Chewy', cursive;
    position: absolute;
    width: calc(100% - 136px);
    text-align: center;
    left: 12px;
    right: 12px;
    bottom: 3%;
  }

  .book-description {
    font-size: 14px;
    flex: 1;
  }

  .bottom .extra {
    font-size: 14px;
  }

  .extra-left {
    font-size: 14px;
  }

}
