@import 'Container.scss';
@import 'colors.scss';
@import 'Input.scss';

body,
.App-Content {
  background-color: #FFF;
}

.Profile-Image-Container {
  width: 128px;
  height: 128px;
  color: #ffff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  .Avatar-Image {
    // height: 100%;
    width: 100%;
  }

  .Edit-Image-Container {
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;

    &.selected {
      opacity: 1;
    }
  }

  &:hover {
    .Edit-Image-Container {
      opacity: 1;
    }
  }
}

.Dashboard-Content {
  margin-top: 56px;
  margin: 32px 112px;
  display: flex;
  @media only screen and (max-width: 875px) {
    flex-direction: column;
    margin: 64px 0 0 16px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 8px;
    padding-right: 16px;
    z-index: 1;
  }
  .buttons{
    font-family: 'Montserrat';
    font-size: 20px;
    border: 3px solid #fab20b;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
    color: rgb(56, 193, 222);
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .buttons:hover{
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: rgb(56, 193, 222);
    border: 3px solid rgb(56, 193, 222);
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .buttonspilih {
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: rgb(56, 193, 222);
    border: 3px solid rgb(56, 193, 222);
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .right {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 875px) {
      padding: 0;
    }
  }
}

.Dashboard-Tab-Container {
  width: calc(100% - 16px);

  .Tab-Header {
    color: $blue;
    border-bottom: 1px solid $red;
    padding: 8px;
  }

  .Tab-Content-Container {
    flex: 1;

    .Tab-Content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 1075px) {
        justify-content: center;
      }
    }
  }
}

.Edit-Profile-Container {
  width: calc(100% - 16px);
  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 20px;
  }
  .top {
    width: 100%;

    .content {
      display: flex;
      width: 100%;
    }
  }

  .bottom {
    margin-top: 24px;
    border-top: 1px solid $red;
    width: 100%;
    display: flex;

    .child {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &-Form {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
      margin-top: 10px;
    }
    label {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .Input {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-Forgot {
      width: 100%;
      display: block;
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }
}

.edit-avatar-modal {
  position: relative;
}

.Avatars {
  display: flex;
  flex-flow: row wrap;
}


.contentmenu {
  display: flex;
  color: $blue;
  flex-direction: column;

  h2 {
    margin: 0 0 8px 0;
    font-family: 'Chewy', cursive;
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  .child {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    text-align: left;
    .child-content {
      padding: 16px 0px;
      display: flex;
      border: 3px solid $lightBlue;
      width: 99%;
      border-radius: 50px;
      cursor: pointer;
    }

    .active {
      background-color: $lightBlue;
    }

    p {
      font-size: 12px;
    }

    @media only screen and (max-width: 875px) {
      padding: 16px;
    }
  }

  @media only screen and (max-width: 480px) {
    .child {
      text-align: center;
      padding: 0px;
      margin-top: 10px;
      .child-content{
        margin-left: 0px;
        width: 99%;
        padding: 16px 0px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .content {
    .child {
      .child-content {
        width: 100%;
      }
    }
  }
}
