@import 'colors.scss';

.EBookCard {
  min-width: 170px;
  width: 170px;
  height: 260px; //260px
  border-radius: 8px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 8px;
  box-shadow: 8px 8px 0px rgba(0, 121, 142, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  position: relative;
  padding: 8px;
    @media screen and (max-width: 425px) {
      min-width: 80px; //150px
      width: 80px; //150px
      height: auto; //250px
      margin: 15px 8px;
    }
  img {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    @media screen and (max-width: 425px) {
      height: 60%;
    }
  }

  div.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    background: #ef425c;
    color: $yellow;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    @media screen and (max-width: 425px) {
      width: 100%;
      font-size: 10px;
      height: 50px;
    }
    p {
      margin: 0;
      white-space: pre-wrap;
      padding: 5px;
    }
  }
}
