@import 'Container.scss';
@import 'colors.scss';
@import 'Grid.scss';
@import 'Section.scss';

body,
.App-Content {
  background-color: transparent !important;
}

.No-Login {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px 0;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .No-Login-Content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 250px;
    text-align: center;
    margin: 0 3%;
    margin-top: 16px;

    h3,
    p {
      color: $blue;
      margin: 0;
      margin-top: 8px;
    }

    p {
      font-size: 14px;
    }

    img {
      height: 150px;
      width: 150px;
    }
  }
  .btn-subscribe {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid rgb(56, 193, 222);
    padding-top: 40px;
    margin-top: 40px;
    @media (max-width: 767px) {
      width: 100%;
      padding-top: 30px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    a {
      padding: 15px 30px;
      background-color: #1F3F72;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #FFF;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius : 8px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}


@media only screen and (max-width: 820px) {
  .No-Login {
    margin-bottom: 0px;
    .No-Login-Content {
      width: 120px;
      margin: 0 5%;
      margin-top: 16px;

      h3,
      p {
        font-size: 80%;
        color: $blue;
        margin: 0;
        margin-top: 8px;
      }

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .No-Login {
    margin-bottom: 0px;
    .No-Login-Content {
      width: 105px;
      margin: 0 2%;
      margin-top: 16px;

      h3,
      p {
        font-size: 70%;
        color: $blue;
        margin: 0;
        margin-top: 8px;
      }

      img {
        height: 50px;
        width: 50px;
      }
    }
  }

}

@media only screen and (max-width: 320px) {
  .No-Login {
    margin-bottom: 0px;
    .No-Login-Content {
      width: 97px;
      margin: 0 1%;
      margin-top: 16px;
      h3,
      p {
        font-size: 60%;
      }
    }
  }
}

.Top-Dropdown {
  background: #4bbfd1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;

  h1 {
    margin-left: 8px;
    color: white;
    font-family: 'Chewy', cursive;
    font-weight: normal;
    border-bottom: 3px solid $blue;
display: inline;
  }

  .bottom-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid #4bbfd1;
    border-bottom: 16px solid transparent;
    border-right: 16px solid transparent;
    top: 100%;
    left: 50%;

    border-left: 16px solid transparent;
    transform: translate(-50%, 0);
  }

  @media only screen and (max-width: 425px) {
    padding: 0 16px;
    flex-direction: column;
    text-align: center;

    h1 {
      margin: 0;
      margin-bottom: 16px;
    }

    img {
      margin-top: 16px;
    }
  }
}

.Collapsable {
  height: 0;
  transition: all 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
  padding: 0 4em;

  &.active {
    height: unset;
    padding-bottom: 30px;
  }

  .age-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .age-list {
      display: flex;

      .age-item {
        border: 3px solid #4bbfd1;
        margin: 2px 8px;
        width: 160px;
        height: 56px;
        border-radius: 8px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;

        &.active {
          background: #4bbfd1;
          color: white;
        }
      }
    }
  }

  .format-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 10em;
    margin-top: 24px;
    padding: 4px;

    .format-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .format-item {
        border: 3px solid #4bbfd1;
        margin: 8px 8px;
        padding: 4px;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;

        &.active {
          background: #4bbfd1;
          color: white;
        }
      }
    }
  }

  .theme-container {
    margin: 8px 4.5em;
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .theme-item {
      border: 3px solid #4bbfd1;
      margin: 2px 8px;
      width: 150px;
      min-width: 150px;
      height: 200px;
      border-radius: 8px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      flex-direction: column;

      .theme-logo {
        margin-top: 5%;
        height: 50%;
        width: auto;
        border-radius: 40px;
      }
      .theme-name {
        white-space: normal;
        margin-bottom: 0px;
      }
      &.active {
        background: #4bbfd1;
        color: white;
      }
    }
  }

  .age-item,
  .format-item,
  .theme-item {
    cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      background: #4bbfd1;
      padding: 8px 32px;
      border-radius: 4px;
      font-family: 'Chewy', cursive;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 425px) {
    padding: 0;

    .age-container {
      .age-list {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .format-container {
      margin: 16px 0;

      .format-list {
        flex-wrap: wrap;
      }
    }

    .theme-container {
      margin: 16px 0;
      text-align: center;
    }
  }
}
