.Grid {
  max-width: 1005px;
  margin: 0 auto;

  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .grid-item {
    width: 400px;
    height: auto;
    margin-top: 32px;
    flex-basis: 10%;
    -ms-flex: auto;
    position: relative;
    /* padding: 10px; */
    /* box-sizing: border-box; */
  }

  @media (max-width: 1073px) {
    .grid-item {
      flex-basis: 33.33%;
    }
  }
  @media (max-width: 815px) {
    .grid-item {
      flex-basis: 50%;
    }
  }
  @media (max-width: 555px) {
    .grid-item {
      flex-basis: 40%;
      padding: 0;
    }
  }
}
