@import 'Container.scss';
@import 'colors.scss';
@import 'Section.scss';
@import 'EBookCard.scss';
@import 'Grid.scss';

.Top {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    object-fit: contain;
    margin-bottom: -4px;

    @media only screen and (max-width: 425px) {
      width: 75%;
    }

    &.cloud {
      @media only screen and (max-width: 425px) {
        width: 100%;
      }
    }

    &.bottom {
      transform: rotate(180deg);
    }

    &.content {
      @media only screen and (max-width: 425px) {
        position: absolute;
        right: 0;
        top: 200px;
        z-index: 0;
        transform: translateX(40%);
      }
    }
  }

  h1 {
    margin: 0 0 16px 0;
    color: $blue;
    font-family: 'Chewy', cursive;
    @media only screen and (max-width: 875px) {
      font-size: 24px;
    }
  }
  p {
    margin: 0 0 16px 0;
    color: $blue;
    font-size: 24px;
    @media only screen and (max-width: 875px) {
      font-size: 16px;
    }
  }
}

.Middle {
  margin: 0;
  background: white;

  h1 {
    margin: 0 0 16px 0;
    color: $lightBlue;
    padding-top: 56px;
    font-family: 'Chewy', cursive;
    font-size: 40px;
    @media only screen and (max-width: 875px) {
      font-size: 24px;
    }
  }

  .content {
    display: flex;
    color: $blue;
    @media only screen and (max-width: 875px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: row;
    }

    @media only screen and (max-width: 425px) {
      flex-direction: column;
    }

    h2 {
      margin: 0 0 8px 0;
      font-family: 'Chewy', cursive;
    }

    p {
      margin: 0;
    }

    .child {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 132px;
      padding-top: 16px;
      text-align: left;

      .child-content {
        padding: 16px;
        display: flex;
        border: 3px solid $lightBlue;
        width: 300px;
        border-radius: 50px;
        cursor: pointer;
      }

      .active {
        background-color: $lightBlue;
      }

      p {
        font-size: 12px;
      }

      @media only screen and (max-width: 875px) {
        padding: 16px;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .content {
      .child {
        .child-content {
          width: 100%;
        }
      }
    }
  }
}

.Shop {
  .content {
    padding: 40px 132px 40px 132px;
  }
  h1 {
    margin: 0;
    color: $blue;
    font-family: 'Chewy', cursive;
    font-size: 40px;
    @media only screen and (max-width: 875px) {
      font-size: 24px;
    }
  }

  .title {
    display: flex;
    align-items: center;
  }

  .extra-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  .extra-button {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 8px 24px;
    border: 3px solid $yellow;
    border-radius: 24px;
    background-color: transparent;
    font-family: 'Chewy', cursive;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: $yellow;
    cursor: pointer;
  }

  form {
    width: 50%;
  }

  .shop_images {
    position: absolute;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    transform: translateY(40px);
    right: 18px;
    @media (max-width: 767px) {
      position: inherit;
      width: 100%;
      bottom: -10px;
    }
  }

  @media only screen and (max-width: 425px) {
    .content {
      padding: 48px 32px 48px 32px;
      display: block;
      flex-direction: column;

      &.grid {
        padding: 0;
      }
    }

    .title.grid {
      margin-left: 8px;
    }

    .image-container {
      display: none;
    }

    .extra-content {
      margin: 16px;
    }

    form {
      width: 100%;
    }
  }
}

.Submit-Button {
  cursor: pointer;
  margin-top: 16px;
  background: $red;
  color: white;
  outline: none;
  border-radius: 24px;
  padding: 16px;
  border: 0;
  font-family: 'Chewy', cursive;
  font-size: 24px;
}
