label {
  font-weight: 500;
  margin: 10px 0 10px 10px;
}

.Input {
  height: 18px;
  width: calc(100% - 20px);
  padding: 8px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  // background-color: ${props => (props.value !== '' ? '#ffff' : '#f2f2f2')};
  background-color: #ffff;
  &:focus {
    background-color: #ffff;
  }
  &.error {
    border: 2px solid $red;
    outline: none;
  }

  &:placeholder-shown {
    background-color: #f2f2f2;
  }
}
