.Load-More {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .loader-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .error {
    flex: 1;
    text-align: center;
  }
}
