.Loading {
  transition: 0.1s ease-in-out;
  margin-right: 0;
  border-radius: 50%;
  &.loading {
    margin-right: 10px;
    border: 2px solid $blue;
    border-top: 2px solid transparent; /* Blue */
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
