@import 'colors.scss';
@import 'Input.scss';
@import 'Loading.scss';

body,
.App-Content {
  background-color: #1f3f72;
}

.login {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f3f72;
  &-con {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) {
      width: 90%;
    }
    &-table {
      display: table;
      width: 100%;
      @media (max-width: 767px) {
        display: block;
      }
      &-left {
        display: table-cell;
        vertical-align: top;
        padding-left: 50px;
        padding-right: 50px;
        border-right: 3px dashed #FFF;
        &:last-child {
          border-right: none;
        }
        @media (max-width: 767px) {
          display: block;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-right: 0;
          border-bottom: 3px dashed #FFF;

          &:last-child {
            border-bottom: none;
          }
        }
        &-title {
          font-family: 'Chewy', cursive;
          font-size: 32px;
          color: #FFF;
          margin: 0 0 20px;
          padding: 0;
        }
        &-subtitle {
          font-family: 'Chewy', cursive;
          font-size: 24px;
          color: rgb(75, 191, 209);
          margin: 0 0 20px;
          padding: 0;
        }
        input {
          width: 91%;
          padding: 4%;
          background-color: #FFF;
          border: 2px solid rgb(75, 191, 209);
          @media (max-width: 767px) {
            width: 91%;
          }
          &:placeholder-shown {
            background-color: #FFF;
          }
        }

        .Button {
          width: 100%;
          background: #e72846 !important;
          padding: 12px 0;
          -webkit-border-radius: 3px !important;
          -moz-border-radius: 3px !important;
          border-radius: 3px !important;
          cursor: pointer;
          box-shadow: none !important;
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-weight: 600;
          color: #FFF;
          text-align: center;
          margin-bottom: 10px;
        }

        .Error {
          font-size: 12px;
          color: red;
        }

        .text {
          font-size: 12px;
          color: #FFF;

          a {
            color: rgb(75, 191, 209);
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      &-right {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        padding-left: 9%;
        padding-right: 9%;
        @media (max-width: 767px) {
          display: block;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
        &-title {
          font-family: 'Chewy', cursive;
          font-size: 32px;
          color: #FFF;
          margin: 0 0 20px;
          padding: 0;
        }
        &-img {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 15px;
          img {
            width: 95%;
          }
        }
        &-form{
          display: table;
          width: 100%;
          &-left {
            display: table-cell;
            padding-right: 3%;
            input {
              width: 84%;
              padding: 15.5px 8%;
              background-color: #FFF;
              border: 2px solid rgb(75, 191, 209);
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              @media (max-width: 767px) {
                padding: 15px 8%;
              }
              &:placeholder-shown {
                background-color: #FFF;
              }
            }
          }
          &-right {
            display: table-cell;
            vertical-align: top;
            width: 50%;
            .Button {
              width: 100%;
              background: #e72846 !important;
              padding: 12px 0 !important;
              -webkit-border-radius: 3px !important;
              -moz-border-radius: 3px !important;
              border-radius: 3px !important;
              cursor: pointer;
              box-shadow: none !important;
              font-family: 'Montserrat', sans-serif;
              font-size: 22px;
              font-weight: 600;
              color: #FFF;
              text-align: center;
              margin-bottom: 10px;
            }
          }
        }
        .text {
          margin: 0;
          padding: 0;
          font-size: 12px;
          color: #FFF;
          line-height: 1.5;
        }
      }
    }
  }
}
