@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import 'CustomModal.scss';

$color: #fff;
body {
  margin: 0;
  min-height: 100%;
  background-color: $color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
