@import 'colors.scss';

.Nav-Container {
  background-color: #1f3f72;
  width: 100%;
  // height: 88px;
  vertical-align: baseline;
  /* padding-top: 2px;
  padding-bottom: 2px; */
  z-index: 100;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  &.active {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  }
  .Nav-Content {
    flex: 1;
    display: flex;
    position: relative;

    &.2 {
      flex: 2;
      position: relative;
    }

    .logo-container {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      .Hover-Menu {
        background: #1f3f72;
        display: none;
        position: absolute;
        padding: 8px;
        top: 88px;

        a {
          color: white;
          text-decoration: none;
          margin: 4px 2px;
        }
      }

      &:hover .Hover-Menu {
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .title-container {
      margin-left: 16px;
      display: flex;
      align-items: center;
      span {
        margin: 0 8px;
        color: white;
        cursor: pointer;
      }

      span:hover{
        color: rgb(56, 193, 222);
        cursor: pointer;
      }
      span.active {
        color: rgb(56, 193, 222);
        cursor: pointer;
      }
    }

    .title {
      color: white;
      font-family: 'Montserrat', sans-serif;
      margin: auto;
      font-size: 24px;

      &.chewy {
        font-family: 'Chewy', cursive;
      }
    }
  }
  .extra-hidden-menu {
    z-index: 60;
    display: none;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    transform: translateY(100%);

    &.active {
      display: flex;
    }

    .child {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 8px;
      padding-top: 16px;
      text-align: left;

      .child-content {
        padding: 10px;
        display: flex;
        width: 250px;
        border: 3px solid $lightBlue;
        align-items: center;
        color : #1f3f72;
        border-radius: 50px;
        cursor: pointer;
        img {
          margin-right: 13px;
        }
        h2 {
          font-family: 'Chewy', cursive;
          font-size: 36px;
          margin: 0;
          padding: 0;
        }
      }

      .child-content-cancel {
        padding: 0 8px;
        display: flex;
        align-items: center;

        border-radius: 50px;
        cursor: pointer;
      }

      .active {
        background-color: $lightBlue;
      }

      p {
        font-size: 12px;
      }

      @media only screen and (max-width: 875px) {
        padding: 16px;
      }
    }

    @media only screen and (max-width: 480px) {
      &.active {
        flex-direction: column;
      }
      .child{
        .child-content {
          width: 100%;
          padding-left: 40px;
          padding-top: 17px;
          padding-bottom: 17px;
          img {
            width: 40px;
            height: 40px;
          }
          h2 {
              margin: 5px 0 8px 0;
              font-family: 'Chewy', cursive;
              font-size: 20px;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    align-items: center;
    display: flex;
  }

  img.logo {
    height: 56px;
  }

  a {
    color: #fab20b;
    text-decoration: none;
  }

  .Anchor-Button {
    margin: 2px;
    text-decoration: none;
    color: #fab20b;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 18;
    font-weight: bold;
  }

  @media only screen and (min-width: 820px) {
    /* padding-top: 16px;
    padding-bottom: 16px; */
    .Nav-Content {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  @media only screen and (max-width: 425px) {
    .Nav-Content {
      padding-left: 16px;
      padding-right: 16px;

      .title-container {
        display: none;
      }
    }
  }
}

.Right-Icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &.avatar-icon {
    width: 40px;
    height: 40px;
  }

  @media only screen and (max-width: 425px) {
    padding: 12px 10px;
  }
  .item-title {
    color: white;
    font-size: 11px;
    margin: 0;
  }

  &:hover {
    background-color: $lightBlue;
  }

  // .Avatar-Image {
  //   color: #fab20b;
  //   border: 2px solid;
  //   border-radius: 50%;
  //   height: 36px;
  //   width: 36px;
  //   cursor: pointer;
  //   margin-bottom: 8px;
  // }

  .User-Menu-Container {
    transition: 0.3s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
    position: absolute;
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    right: 0px;
    top: 44px;
    padding: 0;
    border-radius: 5px;
    min-height: 0;
    z-index: 99;
    width: 0;
    &.show {
      min-height: 100px;
      padding: 10px;
      width: 200px;
    }
    a {
      font-size: 18;
      font-weight: bold;
      margin: 2px;
      text-decoration: none;
      color: #fab20b;
      cursor: pointer;
      padding: 8px;
    }
  }
}

.Cart-Item-Container {
  display: flex;
  flex-direction: column;
  /* min-width: 300px; */
  /* min-height: 300px; */
  background-color: #ffff;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 88px;
  overflow: scroll;

  /* padding: 8px; */
  box-shadow: 0 40px 55px rgba(0, 0, 0, 0.3);
  color: #000;
  overflow: hidden;

  &.show {
    transition: 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
    /* padding 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1),
      width 0.5s 0.2s cubic-bezier(0.1, 1.2, 0.3, 1),
      height 0.5s 0.2s cubic-bezier(0.1, 1.2, 0.3, 1); */

    min-height: 300px;
    width: 300px;
    height: auto;
    padding: 8px;
  }

  &.hidden {
    transition: 1s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
    /* width 0.3s 0s cubic-bezier(0.1, 1.2, 0.3, 1),
      padding 0.5s 0.3s cubic-bezier(0.1, 1.2, 0.3, 1),
      top 0.5s 0.3s cubic-bezier(0.1, 1.2, 0.3, 1); */
    height: 0;
    min-height: 0;
    width: 0;
    padding: 0;
  }

  .content {
    flex: 1;
  }

  .item {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $blue;
      text-align: left;
      font-size: 16px;
    }

    .price {
      color: $yellow;
      text-align: right;
    }

    img {
      height: 50px;
      object-fit: contain;
      margin-right: 8px;
    }
  }

  p {
    flex: 1;
    margin: 0;
    font-size: 13px;
  }

  @media only screen and (max-width: 480px) {
    position: fixed;
    left: 0;
    right: 0;
    top: 72px;
    &.show {
      transition: height 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
      width: calc(100% - 16px);
      padding: 8px;
      height: auto;
    }
    &.hidden {
      transition: height 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1),
        padding 0.1s 0.2s cubic-bezier(0.1, 1.2, 0.3, 1);
      width: calc(100% - 16px);
      padding: 0;
      height: 0;
    }
  }
}

.Sub-Header {
  display: flex;
  padding: 0 60px;
  align-items: center;

  .title-container {
    margin-left: 16px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size: 24px;

    &.chewy {
      font-family: 'Chewy', cursive;
    }
  }

  .Right-Icon {
    &:hover {
      background-color: $blue;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: 0 10px;
  }
}

.Animated-Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.Bars {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  span {
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
    border-radius: 1px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 9px;
  }

  span:nth-child(3) {
    top: 18px;
  }
  &.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
    right: -10px;
    transform: scaleX(0);
  }

  &.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  @media only screen and (min-width: 820px) {
    display: none;
  }
}

.Menus {
  transition: 0.4s;
  position: absolute;
  overflow: hidden;
  background-color: #1f3f72;
  width: 100%;
  z-index: 99;
  height: 0;
  top: 72px;
  right: 0;
  color: white;
  padding: 0;
  // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);

  &.open {
    height: 120px;
    padding: 8px;
    width: calc(100% - 16px);
  }

  p {
    color: white;
    cursor: pointer;
  }

  p:hover{
    color: rgb(56, 193, 222);
    cursor: pointer;
  }

  @media only screen and (min-width: 820px) {
    display: none;
  }
}
