@import 'Container.scss';
@import 'colors.scss';
@import 'Input.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

.App-Content,
body {
  background-color: #FFF;
}

.page {
  &-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;

    .table {
      border-collapse: collapse;
      @media (max-width: 767px) {
        width: 100%;
      }
      td, th {
        border: 1px solid #ddd;
        padding: 10px;
      }
      tr:nth-child(even){background-color: #f2f2f2;}
      tr:hover {background-color: #ddd;}
      th {
        text-align: left;
        background-color: #1f3f72;
        border-color: #1f3f72;
        color: white;
      }
      td p{
        margin: 0;
        padding: 0;
      }
    }
  }
}
