@import 'Login.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body,
.App-Content {
  background-color: #1f3f72;
}

.form {
  width: 35%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 767px) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  &-box {
    width: 80%;
    padding: 8% 10%;
    background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    @media (max-width: 767px) {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    &-title {
      font-family: 'Chewy', cursive;
      font-size: 30px;
      margin: 0 0 20px;
      padding: 0;
    }

    input {
      width: 92%;
      padding: 4%;
      background-color: #FFF;
      border: 2px solid rgb(75, 191, 209);

      &:placeholder-shown {
        background-color: #FFF;
      }
    }

    .Button {
      width: 100%;
      background: #e72846 !important;
      padding: 12px 0;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: none !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #FFF;
      text-align: center;
      margin-bottom: 10px;
    }

    .Error {
      font-size: 12px;
      color: red;
    }

    .text {
      font-size: 12px;
      a {
        color: rgb(75, 191, 209);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
