@import 'colors.scss';

.Search-Container {
  width: calc(100% - 16px);
  margin-top: 80px;
  padding-bottom: 50px;
  .Search-Header {
    color: #FFF;
    border-bottom: 1px solid $red;
    padding: 8px;
    margin: 0 80px;
    margin-top: 16px;
    width: 90%;
    margin-bottom: 16px;
    @media only screen and (max-width: 480px) {
      margin: 0;
      margin-top: 16px;
    }
  }

  .Search-Content {
    flex: 1;

    .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 80px;

      @media only screen and (max-width: 1075px) {
        justify-content: center;
      }

      @media only screen and (max-width: 480px) {
        margin: 0;
      }
    }
  }
}
