@import 'colors.scss';

.Section {
  position: relative;
  min-height: 400;
  width: 100%;
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Chewy', cursive; */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;

  .section-child {
    padding: 40px 36px;

    .title-container {
      display: flex;
      position: relative;
      a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
          color: $blue;
        }
      }
    }

    @media only screen and (max-width: 820px) {
      padding: 32px 0;
      min-width: 100vw;

      .title-container {
        a {
          right: 16px;
        }
      }
    }
  }

  h2.title {
    margin: 0 0 16px 24px;
    font-size: 30px;
    color: #fff;
    position: relative;
    font-family: 'Chewy', cursive;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: 2px 2px $yellow;

    /* &:before {
      content: '';
      position: absolute;
      width: 128px;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid white;
    } */

    @media only screen and (max-width: 425px) {
      margin: 0;
      margin-left: 16px;
      font-size: 24px;
    }
  }

  img.icon {
    position: absolute;
    height: 48px;
    object-fit: contain;
    transform: translateY(-2px);
    @media only screen and (max-width: 425px) {
      height: 32px;
    }
  }
}
