@import 'Container.scss';
@import 'Section.scss';
@import 'colors.scss';
@import 'Grid.scss';

body,
.App-Content {
  background-color: #FFF;
}

.Card {
  min-width: 300px;
  width: 300px;
  height: 300px;
  border-radius: 3px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  position: relative;

  /* @media only screen and (max-width: 425px) {
    min-width: 150px;
    width: 100%;
    height: 300px;
  } */

  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .detail {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;

    p {
      margin: 0;
      white-space: pre-wrap;
      &.title {
        color: black;
        font-size: 13px;
        max-height: 28px;
        line-height: 14px;
        overflow: hidden;
      }

      &.price {
        color: $lightBlue;
        font-size: 18px;
        font-weight: 500;
        margin-top: auto;
      }
      &.price_1 {
        color: red;
        font-size: 10px;
        -webkit-text-decoration: line-through;
        text-decoration: line-through;
      }
    }
  }

  /* &:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    z-index: 99;
  } */

  img {
    border-radius: 3px 3px 0 0;
    height: 200px;
    object-fit: cover;
  }

  span.new {
    position: absolute;
    top: 16px;
    right: 0;
    background-color: $red;
    color: white;
    padding: 4px;
    font-size: 11px;
  }

  .button-container {
    display: flex;
    padding: 0 16px 8px 16px;
    flex-direction: column;
  }

  button {
    text-decoration: none;
    outline: none;
    border: none;
    background-color: $yellow;
    padding: 8px 16px;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: auto;
  }
}

.Tab-Section {
  padding: 24px 60px;

  .tab-button-container {
    display: flex;
    /* width: 60%; */
    margin: 0 auto;
    justify-content: center;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    white-space: nowrap;
    /* padding: 0 16px; */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .tab-button {
    padding: 0 2%;

    .tab-button-content {
      width: 170px;
      text-decoration: none;
      outline: none;
      border: none;
      padding: 8px 24px;
      border: 3px solid $yellow;
      border-radius: 24px;
      background-color: transparent;
      font-family: 'Chewy', cursive;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: $yellow;
      cursor: pointer;

      &.active {
        background: $yellow;
        color: white;
      }
    }
  }

  @media only screen and (max-width: 875px) {
    padding: 0;

    .tab-button-container {
      margin-top: 16px;
      justify-content: unset;
    }
  }
}
