.Slider-Container {
  position: relative;
  padding: 0 24px;
  max-width: 952px;
  min-width: 952px;
  min-height: 90px;

  @media only screen and (max-width: 820px) {
    padding: 0;
    max-width: 100vw;
    min-width: 100vw;
  }
}
.Slider-Content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  padding: 24px 16px 24px 16px;
  ::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 820px) {
    margin: 0 24px;
    padding: 0;
    /* width: 100%; */
  }
}

.Arrow-Button {
  z-index: 10;
  position: absolute;
  display: none;
  cursor: pointer;

  @media only screen and (max-width: 820px) {
    display: flex;
  }

  &.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid;
    // border-left-color: #000;

    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-right: 30px solid;
    // border-right-color: #000;

    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 820px) {
    &.arrow-left {
      transform: translate(0, -50%);
    }
    &.arrow-right {
      transform: translate(0, -50%);
    }
  }
}

.Slider-Container:hover .Arrow-Button {
  display: flex;
}
