@import 'colors.scss';
// @import 'Grid.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body,
.App-Content {
  background-color: transparent!important;
}

.Grid {
  max-width: 1005px;
  margin: 0 auto;
  margin-bottom: 30px;
  .grid-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .grid-item {
    width: 400px;
    height: auto;
    margin-top: 32px;
    flex-basis: 10%;
    -ms-flex: auto;
    position: relative;
    /* padding: 10px; */
    /* box-sizing: border-box; */
    @media (max-width: 767px) {
      width: 98%;
      margin-top: 0;
    }
    @media only screen and (device-width: 768px) {
      width: 30%;
      margin-top: 0;
    }
  }

  @media (max-width: 1073px) {
    .grid-item {
      flex-basis: 33.33%;
    }
  }
  @media only screen and (device-width: 768px) {
    .grid-item {
      flex-basis: 32.33%;
    }
  }
  @media (max-width: 555px) {
    .grid-row {
      flex-flow: column;
    }
    .grid-item {
      flex-basis: 40%;
      padding: 0px;
    }
  }
}

.Subscribe-Container {
  min-height: 100vh;
  position: relative;
  /* padding: 0 60px; */

  .blue-background {
    background: $lightBlue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    z-index: -1;
  }

  .sub-top {
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: white;
      font-family: 'Chewy', cursive;
      font-size: 36px;
      margin: 16px 24px;
      @media (max-width: 767px) {
        font-size: 26px;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: $blue;
      margin: 0;
      @media (max-width: 767px) {
        padding: 15px;
      }
    }
  }

  .sub-bottom {
    width: 66%;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $lightBlue;
    border-bottom: 1px solid $lightBlue;
    @media (max-width: 767px) {
      display: block;
      width: 88%;
      text-align: center;
      padding-top: 15px;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 30px;
    }
    h3 {
      width: 70%;
      font-family: 'Montserrat', sans-serif;
      font-size: 21px;
      font-weight: 600;
      color: $blue;
      margin: 16px 24px;
      text-align: center;
      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
      }
    }

    a {
      background: $lightBlue;
      padding: 16px 24px;
      border-radius: 4px;
      color: white;
    }
  }

  .subscribe-item {
    display: flex;
    cursor: pointer;
    max-width: 290px;
    width: calc(100vw / 5);
    /* min-height: calc(100vh - 256px); */
    background: white;
    margin: 0 16px;
    border: 3px solid $lightBlue;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (max-width: 767px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }

    @media only screen and (device-width: 768px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }

    .subscribe-item-content {
      flex: 1;
      padding: 16px;
      // text-align: center;

      h4 {
        margin-bottom: 20px;
      }

      h4.name {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #1f3f72;
        margin: 0;
        min-height: 45px;
        @media (max-width: 767px) {
          min-height: auto;
        }
      }

      h4.price {
        font-family: 'Chewy', cursive;
        font-size: 36px;
        margin-top: -26px;
        color: $blue;
      }

      h4.price1 {
        font-family: 'Chewy', cursive;
        font-size: 20px;
        color: $blue;
        text-decoration: line-through;
        text-decoration-style: solid;
        text-decoration-color: red;
      }

      .desc {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
      }

      ul {
        margin-bottom: 30px;
        padding-left: 16px;
        font-size: 11px;
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          background: $blue;
          padding: 16px 24px;
          border-radius: 4px;
          color: white;
        }
      }
    }

    &:hover {
      transform: scale(1.1) translateY(5%);
      border-color: $yellow;
      box-shadow: 0 8px 16px rgba(31, 63, 114, 0.3),
        0 8px 8px rgba(31, 63, 114, 0.3);

      .btn-container {
        a {
          background: $red;
        }
      }
    }
  }

  .subscribe-item-active {
    display: flex;
    cursor: pointer;
    max-width: 290px;
    width: calc(100vw / 5);
    /* min-height: calc(100vh - 256px); */
    background: white;
    margin: 0 16px;
    border: 3px solid $yellow;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (max-width: 767px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }

    @media only screen and (device-width: 768px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 94%;
      margin: 3%;
    }
    .subscribe-item-content {
      flex: 1;
      padding: 16px;
      // text-align: center;

      h4 {
        margin-bottom: 20px;
      }

      h4.name {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #1f3f72;
        margin: 0;
        min-height: 45px;
      }

      h4.price {
        font-family: 'Chewy', cursive;
        font-size: 36px;
        margin-top: -26px;
        color: $blue;
      }

      h4.price1 {
        font-family: 'Chewy', cursive;
        font-size: 20px;
        color: $blue;
        text-decoration: line-through;
        text-decoration-style: solid;
        text-decoration-color: red;
      }

      .desc {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
      }

      ul {
        margin-bottom: 30px;
        padding-left: 16px;
        font-size: 11px;
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          background: $red;
          padding: 16px 24px;
          border-radius: 4px;
          color: white;
        }
      }
    }

    &:hover {
      transform: scale(1.1) translateY(5%);
      border-color: $yellow;
      box-shadow: 0 8px 16px rgba(31, 63, 114, 0.3),
        0 8px 8px rgba(31, 63, 114, 0.3);

      .btn-container {
        a {
          background: $red;
        }
      }
    }
  }

  @media (max-width: 815px) {
    .subscribe-item {
      width: calc(100vw / 1);
    }
  }
  @media (max-width: 555px) {
    .subscribe-item {
      width: calc(100vw / 1);
    }
  }
}

.btn-top {
  width: 100%;
  .child {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: left;

    .child-content {
      padding: 5px 8px;
      display: flex;
      width: 150px;
      background-color: #FFF;
      border: 3px solid #1f3f72;
      align-items: center;
      color : #1f3f72;
      border-radius: 50px;
      cursor: pointer;
      img {
        margin-right: 13px;
      }
      h2 {
        font-family: 'Chewy', cursive;
        font-size: 23px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
