@import 'Container.scss';
@import 'colors.scss';

.Content-Container {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;

  .content {
    display: flex;
    flex-direction: column;
    color: $blue;
    padding: 10%;
    background: white;
    border: 1px #f5f5f5 solid;
    border-radius: 5px;
    text-align: center;

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}
