@import '../../../style/colors.scss';

.Table {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    overflow: auto;
    position: relative;
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #6b6b6b;
      padding: 8px;
    }
  
    .show-more {
      transition: 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1);
      position: absolute;
      overflow: hidden;
      background-color: #ffff;
      display: flex;
      flex-direction: column;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
      right: 0px;
      left: 80px;
      bottom: 0px;
      padding: 0;
      border-radius: 8px;
      height: 0;
      z-index: 99;
  
      &.show{ 
        display: block;
        height: auto;
        padding: 0px 10px;
        width: 200px;
      }
  
      & ul {
        list-style: none;
        margin: 0px;
        padding: 8px;
  
        & li {
          cursor: pointer;
          font-weight: 600;
          color: rgb(168, 168, 168);
          padding: 5px 0px;
        }
      }
    }

    td {
      border-right: 1px solid #9c9c9c;
      border-bottom: 1px solid #9c9c9c;
      padding: 9px 8px;
      margin: 5px;
      text-align: left;
      font-weight: normal;      
      color: #9c9c9c;

      & h2.content-item {
        margin: 0px;
        font-size: 20px;
        display: inline-block;
      }

      & p.content-title {
        margin: 0px;
        font-size: 10px;
        display: inline-block;
      }

      &:first-child {
        border-right: none;
      }
    }
  
    th {
      color: $blue;
    }
  
    // tr:nth-child(even) {
    //   background-color: #f2f2f2;
    // }
}

.title {
  margin-top: 20px;
  padding: 3px;
  padding-left: 6px;
  background-color: #ADB5BD;
  & p {
    cursor: pointer;
    margin: 0;
    color: #6C757D;
    font-size: 16px;
  }

  .add-teacher-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;

  & input {
    margin : 4px;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFF;
    border: 2px solid #6b6b6b;
  }

  & .submit-button {
    margin : 4px;
    padding: 3px 6px;
    color: white !important;
    background: #365587;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    
    &:active {
      background: #122c57;
    }
  }
}
}

.modal-form  {
  font-family: 'Montserrat', sans-serif;

  & .submit-button {
    display: inline;
    margin : 4px;
    padding: 3px 6px;
    color: white !important;
    background: #365587;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    
    &:active {
      background: #122c57;
    }
  }
}